  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,500&family=Roboto+Slab:wght@100;200;400;600&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
}
.button-primary {
    background-color: #e2901e;
    color: white;
    font-size: 17px;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;

  }
  
  .button-primary:hover {
    background-color: #36b1ba;
  }
  
  img {

    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

  }

  
  p {
    margin-bottom: 5px;
  }
  
  h3 {
    margin: 0;
  }
  
  h5 {
    margin: 10px 0;
  }
  
  li {
    margin-bottom: 0;
  }
  
  .meal {
    margin: 20px 0;
  }
  
 .text_center{
 align-content: flex-end;
 }
  
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    overflow: hidden;
    max-width: 100%;

    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    z-index: 1;
    
  

  }
  
  